body{
    background: linear-gradient(
        90deg,
        rgba(203,18,133,1)0%,
        rgba(80,49,145,1)70%
     
        );
    color: aliceblue;
    min-height: 100vh;
}
.img-logo{
    width: 55px;
}
.navbar-main{
    background: linear-gradient(
        90deg,
        rgba(203,18,133,1)0%,
        rgba(80,49,145,1)70%
        );
}
a{
    color: inherit;
}
.navbar-main .active{
    text-decoration: underline wavy var(--color-pink);
}
.fondo-sobremi{
    background-image: url(../img/fondo3.jpg);
    max-width: 100%;
    background-size: cover;
   
    flex-direction: row;
}

.imagen-andrea{
    width: 300px;
    height: 350px;
    display: grid;
    border: solid 3px blanchedalmond;
}

.tamaño-letra{
    font-size: medium;
}
.fondo-icono{
    background: linear-gradient(
        90deg,
        rgb(207, 102, 165)0%,
        rgb(60, 29, 128)70%
     
        );
}

.footer{
    background: linear-gradient(
        90deg,
        rgba(203,18,133,1)0%,
        rgba(80,49,145,1)70%
     
        );
    bottom: 0;
    width: 100%;
}
ul.iconos{
    display: inline-flex;
    justify-content: center;
    list-style: none;
    gap: 5rem;
    text-align: center;
}